<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ meta.title }}</title>
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="description" content="{{ meta.description }}">
    <meta name="author" content="{{ meta.author }}">
  <!-- CSS  -->
  <link rel="stylesheet" href="{{ '/assets/css/city.css' | url | version }}" />
  {%- if meta.touch_icon %}<link rel="apple-touch-icon" sizes="180x180" href="{{ meta.touch_icon | url }}" />{% endif %}
    {%- if meta.favicon_32 %}<link rel="icon" type="image/png" sizes="32x32" href="{{ meta.favicon_32 | url }}" />{% endif %}
    {%- if meta.favicon_16 %}<link rel="icon" type="image/png" sizes="16x16" href="{{ meta.favicon_16 | url }}" />{% endif %}
    <link rel="manifest" href="/meta.webmanifest" />
    {%- if meta.safari_pinned_tab %}<link rel="mask-icon" href="{{ meta.safari_pinned_tab | url }}" color="{{ site.colors.cityorange }}" />{% endif %}
    {%- if meta.favicon %}<link rel="shortcut icon" href="{{ meta.favicon | url }}" />{% endif %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | url }}" />
    <meta name="msapplication-TileColor" content="{{ colors.cityblue }}">
    <meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">
    <meta name="theme-color" content="{{ tester.colors.cityblue }}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <script src="{{ '/assets/js/contacts.js' | url | hash }}"></script>
  {%- if meta.counter_web_analytics %}<!-- Web Analytics -->
  <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"{{ site.counter_web_analytics }}",utcoffset:"0"}))};sessionStorage.setItem("_swa","1");</script>{% endif %}
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  {%- assign current_page = crumbs.last %}
  {%- if current_page == "media" %}<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>{% endif %}
</head>
<body>
