<div class="text-center">
  <div id="emailBTN">
    <button class="round-button muted-button js-emaillink" onclick="showBTNS(); hideBTN();">john@exampleemail.com</button>
  </div>
  <div class="hide" id="contactBTN">
    <button class="round-button muted-button js-emailcopybtn">Copy Email</button>
    <a class="round-button muted-button" href="mailto:john@exapmle.test.com">john@example.com</a>
    <p class="errorMsg hide"><strong>Sorry the email address can't be copied.</strong></p>
  </div>
</div>
