---
layout: layouts/base.html
---

{%- for section in collections[section_type] -%}
{%- assign crumbs = section.inputPath | split: '/' %}
{%- assign id = crumbs.last %}
  <section id="{{id}}" class="content-section {{ section.bg-color }}">
    <article>
      <div class="{{ section.container-size }}{%- if section.container-size == "small" or section.container-size == "medium" %}-{%- endif %}container {{ section.style }}">
        {%- if section.title %}<h{{ section.heading }}>{{ section.title | upcase }}</h{{ section.heading }}>{% endif %}
        {%- capture font %}{% render "partials/components/impact-font.html" %}{% endcapture %}
        {%- if section.impact-font %}{{ font }}{%- endif %}
        {{ section.templateContent }}
      </div>
    </article>
  </section>
  {%- endfor %}
