---
layout: layouts/base.html
---

{%- comment %} [Assign crumbs] takes the url slug so that [if current_page] can be used to render the home hero.html or the page specific page-hero.html. {% endcomment %}
{%- assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{%- assign current_page = crumbs.last | append: "/" %}
{%- if current_page == "/" %} {%- include "partials/templates/hero.html" %}{% else %}{%- include "partials/templates/page-hero.html" %}{% endif %}
{%- for section in collections[section_type] -%}
{%- assign crumbs = section.inputPath | split: '/' %}
{%- assign id = crumbs.last %}
{%- include "partials/templates/secondary-nav.html" %}
  <section id="{{id}}" class="content-section {{ section.data.bg-color }}">
    <article>
      <div class="{{ section.data.container-size }}{%- if section.data.container-size == "small" or section.data.container-size == "medium" %}-{%- endif %}container {{ section.data.style }}">
        {%- if section.data.title %}<h{{ section.data.heading }}>{{ section.data.title | upcase }}</h{{ section.data.heading }}>{% endif %}
        {%- if section.data.impact-font %}{% include "partials/components/impact-font.html" %}{%- endif %}
        {{ section.templateContent }}
      </div>
    </article>
  </section>
  {%- endfor %}
