---
layout: layouts/base.html
---

{%- include "partials/templates/hero.html" %}
{%- include "partials/templates/secondary-nav.html" %}
{%- for section in collections[section_type] -%}
{%- assign crumbs = section.inputPath | split: '/' %}
{%- assign id = crumbs.last %}
  <section id="{{id}}" class="content-section {{ section.data.bg-color }}">
    <article>
      <div class="{{ section.data.container-size }}{%- if section.data.container-size == "small" or section.data.container-size == "medium" %}-{%- endif %}container {{ section.data.style }}">
        {%- if section.data.title %}<h{{ section.data.heading }}>{{ section.data.title | upcase }}</h{{ section.data.heading }}>{% endif %}
        {%- capture font %}{% include "partials/components/impact-font.html" %}{% endcapture %}
        {%- if section.data.impact-font %}{{ font }}{%- endif %}
        {{ section.templateContent }}
      </div>
    </article>
  </section>
  {%- endfor %}
